{% extends 'base.html.twig' %}

{% block title %}Listagem de Animais - {% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="alert alert-warning">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('danger') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <h1>Listagem de usuários</h1>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('cadastrar_usuarios') }}" class="btn btn-primary pull-right">Cadastrar Usuário</a>
        </div>
    </div>
    <table class="table table-hover table-striped mt-3">
        <thead>
        <tr>
            <th>Cod.</th>
            <th>Nome</th>
            <th>Username</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tdoby>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td><a href="{{ path('visualizar_usuarios', {'id': usuario.id}) }}">{{ usuario.nome }}</a> </td>
                    <td>{{ usuario.username }}</td>
                    <td>
                        <a class="btn btn-sm btn-success" href="{{ path('visualizar_usuarios', {"id":usuario.id}) }}"> <i class="fa fa-eye"></i> </a>
                        <a class="btn btn-sm btn-warning" href="{{ path('editar_usuarios', {"id": usuario.id}) }}"> <i class="fa fa-pencil"></i> </a>
                        {% if is_granted("ROLE_ADMIN") %}
                        <a class="btn btn-sm btn-danger bt_excluir_produto" href="{{ path('apagar_usuarios', {"id": usuario.id}) }}"> <i class="fa fa-trash"></i> </a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Nenhum registro encontrado!</td>
                </tr>
            {% endfor %}
        </tdoby>
    </table>
{% endblock %}
